{% extends "base.html" %}

{% block title %}管理后台 - {{ t['title'] }}{% endblock %}

{% block content %}
<div class="showmessage center">
  <table class="admin-table">
    <tr>
      <th>ID</th>
      <th>用户名</th>
      <th>内容</th>
      <th>时间</th>
      <th>回复</th>
      <th>操作</th>
    </tr>
    {% for id, username, text, timestamp, reply in messages %}
    <tr>
      <td>{{ id }}</td>
      <td>{{ username }}</td>
      <td>{{ text }}</td>
      <td>{{ timestamp }}</td>
      <td>
        <form action="{{ url_for('reply', message_id=id) }}" method="post" style="display:flex; gap: 5px; align-items: center;">
          <input type="text" name="reply" value="{{ reply or '' }}" placeholder="回复内容" style="flex: 1;margin: auto">
          <button type="submit">保存</button>
        </form>
      </td>
      <td>
        <form action="{{ url_for('delete', message_id=id) }}" method="post" style="display:inline;">
          <button type="submit" onclick="return confirm('确认删除？')">删除</button>
        </form>
        
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}