<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ t['title'] }}</title>

  <!-- SEO meta -->
  <meta name="description" content="史钟毓的个人网站 (Zhongyu Shi's personal website)">
  <meta name="keywords" content="史钟毓, Zhongyu Shi, 个人网站, personal website">
  <meta name="author" content="史钟毓 (Zhongyu Shi)">

  <meta property="og:title" content="My Site">
  <meta property="og:description" content="Welcome to my site, feel free to leave a message.">
  <meta property="og:image" content="http://101.201.254.195/static/img/monkey.png">
  <meta property="og:url" content="http://101.201.254.195/">
  <meta property="og:type" content="website">

  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon_io/favicon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon_io/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon_io/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='img/favicon_io/site.webmanifest') }}">
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <div class='info'>
      <div class='icon'>
        <img src="{{ url_for('static', filename='img/favicon_io/headericon.png') }}" alt="icon">
      </div>
      <span class="site-name">My Site</span>
    </div>
    <div class='navbar'>
      <div class="navbutton">
        <a href="{{ url_for('index')}}" 
          class="{% if request.path == '/' %}active{% endif %}">
          {{ t['home'] }}</a>
      </div>
      <div class="navbutton">
        <a href="{{ url_for('nothing') }}">{{ t['nothing'] }}</a>
      </div>
      <div class="navbutton">
        <a href="{{ url_for('nothing') }}">{{ t['nothing'] }}</a>
      </div>
      <div class="navbutton">
        <a href="{{ url_for('nothing') }}">{{ t['nothing'] }}</a>
      </div>
      <div class="navbutton">
        <a href="{{ url_for('nothing') }}">{{ t['nothing'] }}</a>
      </div>
    </div>
    <div class = 'setting'>
      <div class="theme-switcher">
        <img id="theme-toggle" src="{{ url_for('static', filename='img/theme.png') }}" alt="Theme">
      </div>
      <div class="lang-switch">
        <a href="{{ url_for('switch_lang', code='zh') }}" class="{{ 'active' if lang == 'zh' else '' }}">中</a>
        <span class="sep">｜</span>
        <a href="{{ url_for('switch_lang', code='en') }}" class="{{ 'active' if lang == 'en' else '' }}">En</a>
      </div>
    </div>
  </header>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash-popup" id="flash-popup">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer>
    
  </footer>

  {% block scripts %}
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
  {% endblock %}
  <div class="corner-mark">
    <a href="{{ url_for('O_o') }}">O_o</a>
  </div>

</body>
</html>
