<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="我的网站">
  <meta property="og:description" content="欢迎访问我的个人网站。">
  <meta property="og:image" content="http://101.201.254.195/static/img/monkey.png">
  <meta property="og:url" content="https://101.201.254.195/">
  <meta property="og:type" content="website">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon_io/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon_io/favicon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon_io/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon_io/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='img/favicon_io/site.webmanifest') }}">
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <div class='info'>
      <div class='icon'>
        <img src="{{ url_for('static', filename='img/favicon_io/headericon.png') }}" alt="icon">
      </div>
      <span class="site-name">{{ t['title']}}</span>
    </div>
    <div class='navbar'>
      <div class="navbutton">
        <a href="{{ url_for('index')}}" 
          class="{% if request.path == '/' %}active{% endif %}">
          {{ t['home'] }}</a>
      </div>
      <div class="navbutton">
        <a href="{{ url_for('nothing') }}">{{ t['nothing'] }}</a>
      </div>
      <div class="navbutton">
        <a href="{{ url_for('nothing') }}">{{ t['nothing'] }}</a>
      </div>
      <div class="navbutton">
        <a href="{{ url_for('nothing') }}">{{ t['nothing'] }}</a>
      </div>
      <div class="navbutton">
        <a href="{{ url_for('nothing') }}">{{ t['nothing'] }}</a>
      </div>
    </div>
    <div class = 'setting'>
      <div class="lang-switch">
        <a href="{{ url_for('switch_lang', code='zh') }}" class="{{ 'active' if lang == 'zh' else '' }}">中</a>
        <span class="sep">｜</span>
        <a href="{{ url_for('switch_lang', code='en') }}" class="{{ 'active' if lang == 'en' else '' }}">En</a>
      </div>
    </div>
  </header>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash-popup" id="flash-popup">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer>
    <small>O_o</small>
  </footer>

  {% block scripts %}
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
  {% endblock %}
</body>
</html>
